ion-content {
  --background: #ffffff;
}

.floating-profile {
  position: fixed;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -60%);
  background: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  width: 80vw;
  max-width: 500px;
  max-height: 80vh;
  overflow-y: auto;
}

.profile-title {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  color: #000;
  margin-bottom: 10px;
}

.profile-photo {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #ccc;
  margin: 10px auto 20px auto;
  cursor: pointer;
}

.profile-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ion-label {
  color: #000;
  margin-top: 5px;
}

ion-input {
  background: #f9f9f9;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 3px;
  color: #000;
}

.error-text {
  color: red;
  font-size: 13px;
}

.logoutBtn {
  margin-top: 10px;
  border-radius: 5px;
  color: #fff;
}

.saveBtn {
  margin-top: 5px;
  background: #007bff;
  color: #fff;
  border-radius: 5px;
}

ion-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

ion-tab-bar {
  border-top: 1px solid #ddd;
  background: #fafafa;
  justify-content: space-around !important;
  padding: 0 30px !important;
}

ion-tab-button {
  color: #555;
  min-width: 90px !important;
}

.tab-selected {
  color: #007bff !important;
}

ion-tab-button ion-icon {
  font-size: 22px;
}

.fab-center {
  margin-bottom: 22px !important;
}
