<ion-content *ngIf="userData">
  <div class="teste">
  <div class="profile-container">

      <div class="image">
        <!-- <ion-avatar class="profile-avatar"> -->
          <img [src]="userData.photoURL ? userData.photoURL : 'assets/default-icon.png'">
        <!-- </ion-avatar> -->
      </div>
    </div>

      <div class="user-info">
      <!-- <ion-label class="profile-data"> -->
        <div class="name">
        <h2 class="profile-name">{{ userData.displayName }}</h2></div>
        <div class="email">
        <p class="profile-email">{{ userData.email }}</p></div>
        <div class="number">
        <p class="profile-number">{{ userData.phoneNumber }}</p></div>
      <!-- </ion-label> -->

    </div>
  </div>


  <div class="buttons-container">
    <ion-button color="white" (click)="goToHomePage()">
      <ion-icon slot="icon-only" name="home-outline"></ion-icon>
    </ion-button>
    <ion-button color="white" (click)="goToFarmPage()">
      <ion-icon slot="icon-only" name="leaf-outline"></ion-icon>
    </ion-button>
    <ion-button color="white">
      <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>
