ion-content {
    --background: black;
    color: white;
  }
  
  .profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh; /* Define a altura para ocupar toda a tela verticalmente */
    border-radius: 10%; /* Define o raio da borda */
    border: 2px solid rgb(44, 44, 44);; /* Adiciona uma borda sólida */
    padding: 20px;
  }
  
  .user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; /* Espaçamento inferior entre user-info e o botão */
  }
  
  ion-avatar.profile-avatar img {
    width: 100px; /* Ajuste o tamanho da imagem conforme necessário */
    height: auto; /* Permite que a altura seja ajustada automaticamente para manter a proporção */
    border-radius: 50%; /* Torna a imagem do avatar circular */
  }
  ion-label.profile-data {
    text-align: center; /* Centraliza o texto dentro do ion-label */
  }
  
  .buttons-container {
    position: absolute; /* Define a posição absoluta */
    bottom: 20px; /* Define a distância do fundo */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Ajusta para centralizar completamente */
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 400px; /* Defina a largura máxima para os botões */
  }

  .buttons-container {
    border: 2px solid rgb(44, 44, 44);
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    max-width: 90%;
    width: auto;
  }
ion-button{
  justify-content: space-between;
  padding: 0;
}
ion-icon{
  color: rgb(44, 44, 44);
}
