ion-content {
    --background: black;
    color: gray;
  }
  form ion-item {
    --background: transparent;
    --border-style: none;
  }
.profile-container{
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  padding: 15px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  color: gray;
  width: 90%;
  border: 2px solid gray;
  position: fixed;
  top: 45%; 
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex; 
  flex-direction: column;
}

ion-list{
  background-color: black;
}

form ion-item {
  background-color: black;
}

form ion-input {
  border: none;
}

form ion-label {
  color: gray;
}

.image {
  width: 204px;
  height: 204px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 5%;
  border: 2px solid gray;
}

.image img {
  height: auto;
  width: 100%;
  object-fit: cover;
}
  
  .buttons-container {
    position: absolute; 
    bottom: 20px; 
    left: 50%; 
    transform: translateX(-50%); 
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 400px; 
  }

  .buttons-container {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    max-width: 90%;
    width: auto;
  }
ion-button{
  justify-content: space-between;
  padding: 0;
}
ion-icon{
  color: gray;
}
.formContainer {
  margin-top: 15%;
  background: transparent;
}
.profile-title {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 24px;
}

span{
  color: red;
}