<ion-content>
  <!-- HEADER -->
  <div class="header">
    <ion-icon class="back" name="arrow-back-outline" (click)="backPage()"></ion-icon>
    <div class="title">Vacinas</div>
  </div>
  <div class="page-content">
    <div *ngIf="animal" class="section-header">
      <h2 class="animal-title">{{animal.number}} {{ animal.name }}</h2>
    </div>

    <form [formGroup]="vaccineForm" (ngSubmit)="saveVaccine()">
      <ion-item class="form-item">
        <ion-label position="stacked">Nome da Vacina</ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>
      <span class="warning" *ngIf="vaccineForm.get('name')?.touched && vaccineForm.get('name')?.errors?.['required']">O nome da vacina é obrigatório!</span>
      <ion-item class="form-item">
        <ion-label position="stacked">Data</ion-label>
        <ion-input type="date" formControlName="date"></ion-input>
      </ion-item>
      <span class="warning" *ngIf="vaccineForm.get('date')?.touched && vaccineForm.get('date')?.errors?.['required']">A data é obrigatória!</span>
      <ion-item class="form-item">
        <ion-label position="stacked">Notas</ion-label>
        <ion-textarea formControlName="notes"></ion-textarea>
      </ion-item>
      <ion-item class="form-item">
        <ion-label position="stacked">Aplicado por</ion-label>
        <ion-input formControlName="administeredBy"></ion-input>
      </ion-item>
      <span class="warning" *ngIf="vaccineForm.get('administeredBy')?.touched && vaccineForm.get('administeredBy')?.errors?.['required']">O administrador da vacina é obrigatório!</span>

      <ion-button class="save-btn" expand="block" type="submit">
        Salvar Vacina
      </ion-button>
    </form>
  </div>
</ion-content>
