<ion-content>
  <div class="floating-form">
    <div class="header-row">
      <div class="title">Vacinas</div>
    </div>
    <div *ngIf="animal" class="animal-info">
      {{ animal.number }} - {{ animal.name }}
    </div>

    <form [formGroup]="vaccineForm" (ngSubmit)="saveVaccine()">

      <ion-label>Nome da Vacina:</ion-label>
      <ion-input formControlName="name"></ion-input>
      <span class="error-text" *ngIf="vaccineForm.get('name')?.touched && vaccineForm.get('name')?.errors?.['required']">O nome da vacina é obrigatório!</span>
      <br>

      <ion-label>Data:</ion-label>
      <ion-input type="date" formControlName="date"></ion-input>
      <span class="error-text" *ngIf="vaccineForm.get('date')?.touched && vaccineForm.get('date')?.errors?.['required']">A data é obrigatória!</span>
      <br>

      <ion-label>Notas:</ion-label>
      <ion-textarea formControlName="notes"></ion-textarea>
      <br>

      <ion-label>Aplicado por:</ion-label>
      <ion-input formControlName="administeredBy"></ion-input>
      <span class="error-text" *ngIf="vaccineForm.get('administeredBy')?.touched && vaccineForm.get('administeredBy')?.errors?.['required']">O administrador da vacina é obrigatório!
      </span>
      <br>

      <ion-button expand="block" class="saveBtn" type="submit">Salvar Vacina</ion-button>

      <ion-button color="danger" expand="block" class="closeBtn" (click)="backPage()">Fechar registro</ion-button>
    </form>
  </div>

</ion-content>
