<ion-content class="ion-padding">
  <ng-container *ngIf="farms.length > 0; else noFarms">
    <div class="farm-title">Fazendas</div>
    <ion-list class="list-container">
      <ion-item *ngFor="let farm of farms" (click)="openFarm(farm)">
        <ion-label>{{ farm.farmName }}</ion-label>
      </ion-item>
    </ion-list>
    <div class="register-buttons-container">
      <div class="register-farm-container">
        <ion-button color="white" (click)="disableFarmsListAndShowNoFarms()" fill="outline" shape="round">Registrar uma nova fazenda</ion-button>
      </div>
    </div>
  </ng-container>
  <ng-template #noFarms>
    <div class="spanNoFarm" *ngIf="farms.length == 0">Você não possui uma fazenda, crie uma!</div>
    <div class="form-container" *ngIf="showNoFarms">
      <div class="farm-title">Fazendas</div>
      <form [formGroup]="farmForm" (ngSubmit)="createFarm()">
        <ion-item>
          <ion-label position="stacked">Nome da Fazenda</ion-label>
          <ion-input formControlName="farmName" type="text"></ion-input>
        </ion-item>
        <!-- Mensagens de erro -->
        <span *ngIf="farmForm.get('farmName')?.touched && farmForm.get('farmName')?.errors?.['required']">O nome da fazenda é obrigatório!</span>
        <!-- Mensagens de erro -->
        <ion-item>
          <ion-label position="stacked">Localização da Fazenda</ion-label>
          <ion-input formControlName="farmLocation" type="text"></ion-input>
        </ion-item>
        <!-- Mensagens de erro -->
        <span *ngIf="farmForm.get('farmLocation')?.touched && farmForm.get('farmLocation')?.errors?.['required']">A Localização da fazenda é obrigatória!</span>
        <!-- Mensagens de erro -->
        <ion-button type="submit" expand="block" color="white" class="createFarmButton">Criar Fazenda</ion-button>
      </form>
    </div>
  </ng-template>
  

  <div class="buttons-container">
    <ion-button color="white">
      <ion-icon slot="icon-only" name="leaf-outline"></ion-icon>
    </ion-button>
    <ion-button color="white" (click)="goToProfilePage()">
      <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>


