ion-content {
  --background: #ffffff; 
}

.register-buttons-container {
  position: fixed;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-farm-container {
  margin: 10px 0;
}

ion-button {
  --background: #007bff;
  --color: white; 
  --border-radius: 8px;
  --padding-start: 12px;
  --padding-end: 12px;
}

.no-farms-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  color: #dc3545; 
}

.spanNoFarm {
  margin-bottom: 20px;
  font-size: 18px;
}

.form-container {
  background-color: #f8f9fa; 
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #dee2e6; 
  width: 80%;
  max-width: 500px;
  color: #212529; 
}

.farm-title {
  display: flex;
  justify-content: center;
  color: #212529;
  font-size: 24px;
}

form ion-item {
  --background: transparent;
  --border-style: none;
}

form ion-input {
  color: #212529; 
  border: none;
  --placeholder-color: #6c757d; 
}

form ion-label {
  color: #212529; 
  margin-top: 15%;
}

.createFarmButton {
  background: #007bff;
  --color: white; 
  border: 2px solid #007bff;
  border-radius: 5px;
}

.createFarmButton:hover {
  background: #0056b3; 
}

ion-list {
  background-color: #ffffff; 
  margin-top: 4%;
}

ion-item {
  background-color: #f8f9fa; 
  margin-top: 4px;
}

.list-container ion-item {
  --background: transparent;
  --border-color: #dee2e6; 
  border-radius: 5px;
}

.buttons-container {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  max-width: 90%;
  width: auto;
  background-color: #ffffff; 
  border-top: 2px solid #dee2e6; 
}

ion-icon {
  color: #007bff; 
}

ion-fab {
  bottom: 90px;
  --background: #ffffff; 
  border: 2px solid #007bff; 
  border-radius: 50%;
}

span{
  color: red;
}