ion-content {
  --background: black;
  color: white;
}

.buttons-container {
  border: 2px solid rgb(44, 44, 44);
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  max-width: 90%;
  width: auto;
}

ion-button {
  justify-content: space-between;
  padding: 0;
}

ion-icon {
  color: rgb(44, 44, 44);
}

// ion-fab-button {
//   --background: #007bff;
// }

// ion-fab-button ion-icon {
//   color: white;
// }

// .farm {
//   border: 2px solid rgb(44, 44, 44);
//   padding: 20px;
//   border-radius: 10px;
//   margin: 20px auto;
//   max-width: 400px;
//   position: relative;
//   background-color: black; 
//   height: calc(100vh - 80px);
//   overflow-y: auto;
// }

// .farm-title {
//   text-align: center;
//   margin-top: 0; 
//   color: white; 
// }

// .animal-list {
//   list-style-type: none;
//   padding: 0;
//   margin-top: 20px;
//   background-color: transparent;
//   --inner-background: transparent; 
// }

// .animal-list ion-item {
//   border: 2px solid rgb(44, 44, 44);
//   margin-bottom: 10px;
//   padding: 10px;
//   border-radius: 5px;
//   box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
// }

// .animal-list {
//   background-color: transparent;
//   --inner-background: transparent;
// }