ion-content {
  --background: #ffffff;
}
.header {
  margin-top: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-weight: 600;
  font-size: 22px;
  padding: 10px 0;
}

.farm-title {
  font-size: 22px;
  font-weight: 600;
  color: #000;
}

.list-container {
  padding: 12px 15px;
}

.farm-card {
  background: #ffffff;
  margin-bottom: 12px;
  border-radius: 12px;
  --padding-start: 14px;
  --padding-end: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.farm-card h2 {
  font-size: 18px;
  margin: 0;
  font-weight: 600;
  color: #333;
}

.farm-card p {
  font-size: 14px;
  margin-top: 4px;
  color: #555;
}

.options-button ion-icon {
  font-size: 22px;
  color: #007bff;
}

.no-data {
  text-align: center;
  margin-top: 40%;
  color: #777;

  ion-icon {
    font-size: 60px;
    color: #007bff;
  }

  p {
    margin-top: 10px;
    font-size: 16px;
  }
}
ion-fab-button {
  width: 60px;
  height: 60px;
  --border-radius: 50%;
  font-size: 24px;
}

ion-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

ion-tab-bar {
  border-top: 1px solid #ddd;
  background: #fafafa;

  justify-content: space-around !important;
  padding: 0 35px !important;
}

ion-tab-button {
  color: #555;
  font-weight: 500;
  min-width: 90px !important;
}

ion-tab-button.tab-selected {
  color: #007bff;
}

ion-tab-button ion-icon {
  font-size: 22px;
}
.fab-center {
  margin-bottom: 22px !important;
}
