<ion-content>
  <div class="floating-form">
    <div class="create-title">Criar Fazenda</div>

    <form [formGroup]="farmForm" (ngSubmit)="createFarm()">

      <ion-label>Nome da Fazenda:</ion-label>
      <ion-input type="text" formControlName="farmName"></ion-input>
      <span class="error-text" *ngIf="farmForm.get('farmName')?.touched && farmForm.get('farmName')?.errors?.['required']">O nome da fazenda é obrigatório!</span>
      <span class="error-text" *ngIf="farmForm.get('farmName')?.dirty && farmForm.get('farmName')?.errors?.['minlength']">Min. 5 caracteres</span>
      <br>

      <ion-label>Localização da Fazenda:</ion-label>
      <ion-input type="text" formControlName="farmLocation"></ion-input>
      <span class="error-text" *ngIf="farmForm.get('farmLocation')?.touched && farmForm.get('farmLocation')?.errors?.['required']">Localização obrigatória!</span>
      <span class="error-text" *ngIf="farmForm.get('farmLocation')?.dirty && farmForm.get('farmLocation')?.errors?.['minlength']">Min. 5 caracteres</span>
      <br>

      <ion-button expand="block" class="createBtn" type="submit" [disabled]="farmForm.invalid">Criar Fazenda</ion-button>
      <ion-button color="danger" expand="block" class="closeBtn" (click)="enableFarmsList()">Fechar registro</ion-button>

    </form>
  </div>
</ion-content>
