ion-content {
  --background: #ffffff;
}

.floating-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  width: 80vw;
  max-width: 500px;
  max-height: 85vh;
  overflow-y: auto;
}

.create-title {
  text-align: center;
  font-size: 22px;
  color: #000;
  margin-bottom: 10px;
}

ion-label {
  color: #000;
  margin-top: 5px;
}

ion-input {
  background: #f9f9f9;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 3px;
  color: #000;
}

.error-text {
  color: red;
  font-size: 13px;
}

.createBtn {
  margin-top: 10px;
  background: #007bff;
  border-radius: 5px;
  color: #fff;
  border: 2px solid #007bff;
}

.closeBtn {
  margin-top: 5px;
  background: #fff;
  color: #fff;
  border-radius: 5px;
}
