<ion-content>

  <div class="floating-form">

    <div class="header-row">
      <div class="title">Alimentos</div>
    </div>

    <div *ngIf="animal" class="animal-info">
      {{ animal.number }} - {{ animal.name }}
    </div>

    <form [formGroup]="feedingForm" (ngSubmit)="saveFeeding()">

      <ion-label>Data:</ion-label>
      <ion-input type="date" formControlName="date"></ion-input>
      <span class="error-text" *ngIf="feedingForm.get('date')?.touched && feedingForm.get('date')?.errors?.['required']">A data é obrigatória!</span>
      <br>

      <ion-label>Tipo de ração / alimento:</ion-label>
      <ion-input formControlName="feedType"></ion-input>
      <span class="error-text" *ngIf="feedingForm.get('feedType')?.touched && feedingForm.get('feedType')?.errors?.['required']">O tipo de alimento é obrigatório!</span>
      <br>

      <ion-label>Quantidade:</ion-label>
      <ion-input type="number" formControlName="amount"></ion-input>
      <span class="error-text" *ngIf="feedingForm.get('amount')?.touched && feedingForm.get('amount')?.errors?.['required']">A quantidade é obrigatória!</span>
      <br>

      <ion-label>Notas:</ion-label>
      <ion-textarea formControlName="notes"></ion-textarea>

      <ion-button expand="block" class="saveBtn" type="submit">Salvar Registro</ion-button>
      <ion-button color="danger" expand="block" class="closeBtn" (click)="backPage()">Fechar registro</ion-button>
    </form>

  </div>

</ion-content>
