<ion-content>
  <div *ngIf="farmName" class="farm-name"> {{ farmName }} </div>
  <app-animal-create-form *ngIf="showCreateForm"></app-animal-create-form>
  <app-animal-edit-form *ngIf="showEditForm" [animal]="selectedAnimal"></app-animal-edit-form>

  <ion-list class="list-container">
    <ion-item *ngFor="let animal of animals">
      <ion-label>{{ animal.number }} {{ animal.name }}</ion-label>
      <ion-icon name="share-outline"></ion-icon>
      <ion-icon name="create-outline" (click)="openEditForm(animal)"></ion-icon>
    </ion-item>
  </ion-list>
  
  <div class="buttons-container">
    <ion-button color="white" *ngIf="!showCreateForm && !showEditForm" (click)="openCreateForm()">Registrar animal</ion-button>
    <ion-button color="white" *ngIf="showCreateForm" (click)="closeCreateForm()">Fechar formulário</ion-button>
    <ion-button color="white" *ngIf="showEditForm" (click)="closeEditForm()">Fechar edição</ion-button>
  </div>
</ion-content>
