<ion-content>
  <div class="header">
    <ion-icon class="back" name="arrow-back-outline" (click)="backFarmPage()"></ion-icon>
    <div *ngIf="farmName">{{ farmName }}</div>
  </div>
  <div class="overlay" *ngIf="showCreateForm || showEditForm"></div>

  <app-animal-create-form [farm]="farm" *ngIf="showCreateForm" class="floating-form create-form" (animalRegistered)="onAnimalRegistered()" (closeForm)="closeCreateForm()"></app-animal-create-form>
  <app-animal-edit-form [farm]="farm" *ngIf="showEditForm" [animal]="selectedAnimal" class="floating-form edit-form" (animalUpdated)="onAnimalUpdated()" (closeEditForm)="closeEditForm()"></app-animal-edit-form>

  <div color="white" class="death-animals">Animais Vivos</div>

  <ion-list class="list-container">
    <ion-item *ngFor="let animal of animals">
      <ion-label>{{ animal.number }} - {{ animal.name }}</ion-label>
      <ion-icon class="item-icon" name="share-outline" (click)="shareAnimalDetails(animal)"></ion-icon>
      <ion-icon class="item-icon" name="create-outline" (click)="openEditForm(animal)"></ion-icon>
      <ion-icon color="danger" name="skull-outline" (click)="setLifeFalse(animal)"></ion-icon>
      <ion-icon color="danger" name="trash-outline" (click)="deleteAnimal(animal)"></ion-icon>
    </ion-item>
  </ion-list>

  <div class="bottom-section">
    <ion-button color="primary" (click)="openCreateForm()" fill="outline" shape="round">Registrar animal</ion-button>
  </div>

  <ion-footer>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="alive" class="heart">
        <ion-icon class="heart" name="heart-outline"></ion-icon>
        Vivos
      </ion-tab-button>
      <ion-tab-button tab="death" (click)="openDeathAnimals(farm)">
        <ion-icon class="death" name="skull-outline"></ion-icon>
        Mortos
      </ion-tab-button>
    </ion-tab-bar>
  </ion-footer>
</ion-content>
