<ion-content>
  <div class="header">
    <ion-icon class="back" name="arrow-back-outline" (click)="backFarmPage()"></ion-icon>
    <div class="farm-name" *ngIf="farmName">{{ farmName }}</div>
  </div>

  <!-- MESMO PADRÃO DA TELA DE MORTOS -->
  <div class="overlay" *ngIf="(showCreateForm || showEditForm) && !isClosingForm"></div>

  <!-- CREATE FORM -->
  <app-animal-create-form 
    *ngIf="showCreateForm"
    [farm]="farm"
    class="floating-form create-form"
    [ngClass]="{ 'hidden': isClosingForm }"
    (animalRegistered)="onAnimalRegistered()"
    (closeForm)="closeCreateForm()">
  </app-animal-create-form>

  <!-- EDIT FORM -->
  <app-animal-edit-form 
    *ngIf="showEditForm"
    [farm]="farm"
    [animal]="selectedAnimal"
    class="floating-form edit-form"
    [ngClass]="{ 'hidden': isClosingForm }"
    (animalUpdated)="onAnimalUpdated()"
    (closeEditForm)="closeEditForm()">
  </app-animal-edit-form>

  <div class="section-title">Animais Vivos</div>

  <ion-list class="card-list">
    <ion-item class="animal-card" *ngFor="let animal of animals">
      <ion-label class="animal-info">
        <h2>{{ animal.number }}</h2>
        <p>{{ animal.name }}</p>
      </ion-label>

      <ion-button fill="clear" class="menu-button" (click)="openAnimalActions(animal)">
        <ion-icon name="menu-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="openCreateForm()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-footer>
    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="alive" class="tab-selected">
        <ion-icon name="heart-outline" class="tab-icon"></ion-icon>
        Vivos
      </ion-tab-button>

      <ion-tab-button tab="add" class="fab-center">
        <ion-icon name="add-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="death" (click)="openDeathAnimals(farm)">
        <ion-icon name="skull-outline" class="tab-icon"></ion-icon>
        Mortos
      </ion-tab-button>

    </ion-tab-bar>
  </ion-footer>

</ion-content>
