<ion-content>

  <div class="floating-form">

    <div class="header-row">
      <div class="title">Adicionar Funcionário</div>
    </div>

    <form [formGroup]="form" (ngSubmit)="submit()">

      <ion-label>Email do funcionário:</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>

      <span class="error-text" *ngIf="form.get('email')?.touched && form.get('email')?.errors?.['required']">E-mail é obrigatório!</span>

      <span class="error-text" *ngIf="form.get('email')?.dirty && form.get('email')?.errors?.['email']">Formato de E-mail inválido!</span>
      <br>

      <ion-button expand="block" class="saveBtn" type="submit"><ion-icon name="person-add-outline" slot="start"></ion-icon>Adicionar Funcionário</ion-button>
      <ion-button expand="block" class="closeBtn" color="danger" (click)="goBack()">Voltar</ion-button>
    </form>
  </div>

</ion-content>
