ion-content {
  --background: #ffffff;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 170px;
}

.icon-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 35px;
}

.icon {
  width: 60vw;
  max-width: 310px;
  min-width: 200px;
  transform: translateY(-40px);
}

.floating-login {
  background: #fff;
  padding: 22px;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
  width: 85vw;
  max-width: 450px;

  margin-top: 40px;
}

.create-title {
  text-align: center;
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 12px;
  color: #000;
}

ion-label {
  color: #000;
  margin-top: 5px;
}

ion-input {
  background: #f9f9f9;
  padding: 10px;
  border-radius: 6px;
  color: #000;
  margin-bottom: 4px;
}

.error-text {
  color: red;
  font-size: 13px;
}

.input-password {
  display: flex;
  align-items: center;
  background: #f9f9f9;
  border-radius: 6px;
  padding-right: 12px;
}

.input-password ion-icon {
  font-size: 20px;
  margin-left: 8px;
  cursor: pointer;
  opacity: 0.7;
}

.createBtn {
  margin-top: 12px;
  background: #007bff;
  color: #fff;
  border-radius: 6px;
  border: 2px solid #007bff;
}

.closeBtn {
  margin-top: 5px;
  background: #fff;
  color: #fff;
  border-top: 2px solid #007bff;
  border-radius: 6px;
}

.recovery {
  text-align: center;
  color: #007bff;
  margin-top: 12px;
  font-size: 14px;
  cursor: pointer;
}
