<ion-content>

  <div class="login-wrapper">

    <div class="icon-container">
      <ion-img src="assets/icon.png" class="icon"></ion-img>
    </div>

    <div class="floating-login">

      <div class="create-title">Login</div>

      <form [formGroup]="loginForm" (ngSubmit)="submitForm()">

        <ion-label>E-mail:</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
        <span class="error-text" *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.errors?.['required']">E-mail obrigatório!</span>
        <span class="error-text" *ngIf="loginForm.get('email')?.dirty && loginForm.get('email')?.errors?.['email']">Formato inválido!</span>
        <br>

        <ion-label>Senha:</ion-label>
        <div class="input-password">
          <ion-input [type]="showPassword ? 'text' : 'password'" formControlName="password"></ion-input>
          <ion-icon [name]="showPassword ? 'eye-outline' : 'eye-off-outline'"
                    (click)="showPassword = !showPassword"></ion-icon>
        </div>
        <span class="error-text" *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['required']">Senha obrigatória!</span>
        <span class="error-text" *ngIf="loginForm.get('password')?.dirty && loginForm.get('password')?.errors?.['minlength']">Min. 6 caracteres</span>
        <br>

        <ion-button expand="block" class="createBtn" type="submit">Entrar</ion-button>
        <ion-button expand="block" class="closeBtn" (click)="goToRegisterPage()">Criar conta</ion-button>

        <p class="recovery" (click)="goRecoveryPage()">Esqueceu sua senha?</p>

      </form>

    </div>

  </div>

</ion-content>
