ion-content {
    --background: black;
    color: white;
  }

  .buttons-container {
    border: 2px solid rgb(44, 44, 44);
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    max-width: 90%;
    width: auto;
  }
ion-button{
  justify-content: space-between;
  padding: 0;
}
ion-icon{
  color: rgb(44, 44, 44);
}