<div class="floating-form">
  <div class="edit-title">Atualize o animal</div>
  <form [formGroup]="animalForm" (ngSubmit)="editAnimal()">
    <ion-label>Nome do animal</ion-label>
    <ion-input formControlName="name" type="text"></ion-input>
    <!-- Mensagens de erro -->
    <span *ngIf="animalForm.get('name')?.touched && animalForm.get('name')?.errors?.['required']">O nome do animal é obrigatório!</span><br>
    <!-- Mensagens de erro -->
    <ion-label>Espécie</ion-label>
    <ion-input formControlName="species" type="text"></ion-input>
    <!-- Mensagens de erro -->
    <span *ngIf="animalForm.get('species')?.touched && animalForm.get('species')?.errors?.['required']">A espécie do animal é obrigatória!</span><br>
    <!-- Mensagens de erro -->
    <ion-label>Data de nascimento</ion-label>
    <ion-input formControlName="birthDate" type="date" [disabled]="true"></ion-input>
    <!-- Mensagens de erro -->
    <span *ngIf="animalForm.get('birthDate')?.touched && animalForm.get('birthDate')?.errors?.['required']">A data de nascimento do animal é obrigatória!</span><br>
    <!-- Mensagens de erro -->
    <ion-label>Número</ion-label>
    <ion-input formControlName="number" type="number"></ion-input>
    <!-- Mensagens de erro -->
    <span *ngIf="animalForm.get('number')?.touched && animalForm.get('number')?.errors?.['required']">O número do animal é obrigatório!</span><br>
    <!-- Mensagens de erro -->
    <ion-label>Histórico de doenças</ion-label>
    <ion-input formControlName="historyOfIllnesses" type="text"></ion-input>
    <!-- Mensagens de erro -->
    <span *ngIf="animalForm.get('historyOfIllnesses')?.touched && animalForm.get('historyOfIllnesses')?.errors?.['required']">O histórico de doenças é obrigatório!</span><br>
    <!-- Mensagens de erro -->
    <ion-label>Histórico de tratamentos</ion-label>
    <ion-input formControlName="treatmentHistory" type="text"></ion-input>
    <!-- Mensagens de erro -->
    <span *ngIf="animalForm.get('treatmentHistory')?.touched && animalForm.get('treatmentHistory')?.errors?.['required']">O histórico de tratamentos é obrigatório!</span><br>
    <!-- Mensagens de erro -->
    <ion-button color="white" expand="block" class="closeEditForm" (click)="closeEdit()">Fechar formulário</ion-button>
    <ion-button color="white" expand="block" class="editAnimalButton" type="submit">Atualizar animal</ion-button>
  </form>
</div>