<div class="floating-form">
  <div class="create-title">Registre o animal</div>

  <form [formGroup]="animalForm" (ngSubmit)="registerAnimal()">

    <ion-label>Nome do animal:</ion-label>
    <ion-input formControlName="name" type="text"></ion-input>
    <span *ngIf="animalForm.get('name')?.touched && !firstWarningShown.name" class="warning-message" (click)="handleWarning('name')">Este campo não poderá ser alterado posteriormente.</span>
    <span *ngIf="animalForm.get('name')?.touched && firstWarningShown.name && animalForm.get('name')?.errors?.['required']">O nome do animal é obrigatório!</span>
    <br>

    <ion-label>Espécie:</ion-label>
    <ion-input formControlName="species" type="text"></ion-input>
    <!-- Mensagens de aviso e erro -->
    <span *ngIf="animalForm.get('species')?.touched && !firstWarningShown.species" class="warning-message" (click)="handleWarning('species')">Este campo não poderá ser alterado posteriormente.</span>
    <span *ngIf="animalForm.get('species')?.touched && firstWarningShown.species && animalForm.get('species')?.errors?.['required']">A espécie do animal é obrigatória!</span>
    <br>

    <ion-label>Data de nascimento:</ion-label>
    <ion-input formControlName="birthDate" type="date"></ion-input>
    <!-- Mensagens de aviso e erro -->
    <span *ngIf="animalForm.get('birthDate')?.touched && !firstWarningShown.birthDate" class="warning-message" (click)="handleWarning('birthDate')">Este campo não poderá ser alterado posteriormente.</span>
    <span *ngIf="animalForm.get('birthDate')?.touched && firstWarningShown.birthDate && animalForm.get('birthDate')?.errors?.['required']">A data de nascimento do animal é obrigatória!</span>
    <br>

    <ion-label>Número:</ion-label>
    <ion-input formControlName="number" type="number"></ion-input>
    <!-- Mensagens de aviso e erro -->
    <span *ngIf="animalForm.get('number')?.touched && !firstWarningShown.number" class="warning-message" (click)="handleWarning('number')">Este campo não poderá ser alterado posteriormente.</span>
    <span *ngIf="animalForm.get('number')?.touched && firstWarningShown.number && animalForm.get('number')?.errors?.['required']">O número do animal é obrigatório!</span>
    <br>

    <ion-label>Histórico de doenças:</ion-label>
    <ion-input formControlName="historyOfIllnesses" type="text"></ion-input>
    <!-- Mensagens de erro -->
    <span *ngIf="animalForm.get('historyOfIllnesses')?.touched && animalForm.get('historyOfIllnesses')?.errors?.['required']">O histórico de doenças é obrigatório!</span>
    <br>

    <ion-label>Histórico de tratamentos:</ion-label>
    <ion-input formControlName="treatmentHistory" type="text"></ion-input>
    <!-- Mensagens de erro -->
    <span *ngIf="animalForm.get('treatmentHistory')?.touched && animalForm.get('treatmentHistory')?.errors?.['required']">O histórico de tratamentos é obrigatório!</span>
    <br>

    <ion-button color="white" expand="block" class="closeCreateForm" (click)="closeCreateForm()">Fechar formulário</ion-button>
    <ion-button color="white" expand="block" class="createAnimalButton" type="submit">Criar animal</ion-button>

  </form>
</div>