.floating-form {
  z-index: 1000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 600px;
}

.floating-form ion-input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: black;
  color: white;
  opacity: 0.8;
  width: 100%;
}

.floating-form button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: black;
  border: 1px solid gray;
  color: white;
  cursor: pointer;
}

.floating-form button:hover {
  background-color: rgb(19, 18, 18);
}

span {
  color: red;
}

.createAnimalButton {
  background-color: black;
  color: gray;
  border: 2px solid gray;
  border-radius: 5px;
}

.createAnimalButton:hover {
  background-color: darkgray;
}

.warning-message {
  color: red;
  font-size: 0.9em;
}

.create-title{
  display: flex;
  justify-content: center;
  color: white;
  font-size: 20px;
  margin-bottom: 3px;
}