.floating-form {
  z-index: 1000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #cccccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 80vw;
  max-width: 600px;
  height: auto;
  max-height: 65vh;
  overflow-y: auto;
}

.floating-form input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background-color: #ffffff;
  color: #333333;
  width: 100%;
}

.floating-form button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  color: #333333;
  cursor: pointer;
}

.floating-form button:hover {
  background-color: #f0f0f0;
}

span {
  color: red;
}

.editAnimalButton {
  background-color: #ffffff;
  color: #333333;
  border: 2px solid #cccccc;
  border-radius: 5px;
}

.editAnimalButton:hover {
  background-color: #f0f0f0;
}

.closeViewForm {
  background-color: #ffffff;
  color: #007bff;
  border-top: 2px solid #007bff;
}

.closeViewForm:hover {
  background-color: #e0e0e0;
  border-radius: 5px;
}

.edit-title {
  display: flex;
  justify-content: center;
  color: #333333;
  font-size: 20px;
  margin-bottom: 3px;
}
