ion-content {
    --background: black;
    color: white;
  }
  
  ion-button {
    color: white;
    margin: 10px;
    border-radius: 2%;
  }

  .farm-name{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 24px;
  }

  .buttons-container {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    width: auto;
  }

  ion-list{
    background-color: black;
    margin-top: 4%;
  }

  .list-container ion-item {
    --background: transparent;
    --border-color: gray;
    border-radius: 5px;
  }

  ion-icon{
    margin-right: 5px;
  }

  ion-item{
    background-color: black;
  }

  ion-item-option{
    color: green;
  }

  .death-animals {
    display: flex;
    background-color: black;
    border-bottom: 2px solid;
    align-items: center;
    justify-content: center;
    max-width: 50%;
    margin: 0 auto; 
  }
  
  .death-animals:hover {
    background-color: darkgray;
    border-radius: 5px;
  }
  
  