<ion-content [fullscreen]="true" class="ion-padding">
  <div class="icon-container"><ion-img src="assets/icon.png" class="icon"></ion-img></div>
  <div class="login-container">
    <ion-list class="login-list">
      <div class="login-title">Recuperação</div>
      <form [formGroup]="recoveryPassForm" (ngSubmit)="submitForm()" novalidate class="formLogin">
        <ion-item>
          <ion-label position="floating">E-mail</ion-label>
          <ion-input type="email" formControlName="email" placeholder="Insira seu email"></ion-input>
        </ion-item>
      <!--Mensagens de erro-->
      <span *ngIf="recoveryPassForm.get('email')?.touched && recoveryPassForm.get('email')?.errors?.['required']">E-mail é obrigatório!</span>
      <span *ngIf="recoveryPassForm.get('email')?.dirty && recoveryPassForm.get('email')?.errors?.['email']">Formato de E-mail inválido</span>
      <!--Mensagens de erro-->
      <ion-button expand="full" color="primary" type="submit" fill="outline" shape="round">Recuperar senha</ion-button>
    </form>
    </ion-list>
  </div>
</ion-content>