<ion-content>

  <div class="login-wrapper">
    <div class="icon-container">
      <ion-img src="assets/icon.png" class="icon"></ion-img>
    </div>
    <div class="floating-login">
      <div class="create-title">Recuperação</div>
      <form [formGroup]="recoveryPassForm" (ngSubmit)="submitForm()">
        <ion-label>E-mail:</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
        <span class="error-text" *ngIf="recoveryPassForm.get('email')?.touched && recoveryPassForm.get('email')?.errors?.['required']">E-mail obrigatório!</span>
        <span class="error-text" *ngIf="recoveryPassForm.get('email')?.dirty && recoveryPassForm.get('email')?.errors?.['email']">Formato inválido!</span>
        <br>
        <ion-button expand="block" class="createBtn" type="submit">Recuperar senha</ion-button>
        <ion-button color="danger" expand="block" class="closeBtn" (click)="goToLoginPage()">Voltar</ion-button>
      </form>
    </div>
  </div>

</ion-content>
