ion-content {
    --background: #ffffff;
    color: #333333;
  }
  
  .login-container {
    position: relative;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-top: -20%;
  }
  
  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }
  
  .icon {
    max-width: 25vh;
    max-height: 25vh;
  }
  
  .formLogin {
    max-width: 360px;
    margin: auto;
  }
  
  .login-list {
    background: #ffffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #333333;
    width: 90%;
    max-width: 400px;
    border: 2px solid #cccccc;
    position: relative;
  }
  
  .login-title {
    display: flex;
    justify-content: center;
    color: #333333;
    font-size: 24px;
  }
  
  span {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  
  form ion-item {
    --background: transparent;
    --border-style: none;
    margin-bottom: 15px;
  }
  
  form ion-input {
    color: #333333;
    padding: 10px;
  }
  
  form ion-label {
    color: #333333;
  }
  
  form ion-button {
    margin-top: 15px;
    --border-radius: 20px;
    overflow: hidden;
    background-color: #ffffff;
    color: #333333;
  }
  
  form ion-button:hover {
    background-color: #f0f0f0;
  }
  
  .register-link {
    margin-top: 20px;
    text-align: center;
  }
  
  .register-link a {
    color: #333333;
    text-decoration: underline;
  }
  
  .register-link a:hover {
    color: #666666;
  }
  