ion-content {
  --background: #ffffff;
  color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
}

.register-list {
  background: #ffffff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #333333;
  width: 90%;
  max-width: 400px;
  border: 2px solid #cccccc;
  position: relative;
}

.register-title {
  display: flex;
  justify-content: center;
  color: #333333;
  font-size: 24px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-color: #ffffff;
}

.icon2 {
  width: 75%;
  height: auto;
}

span {
  color: red;
  font-size: 12px;
  display: block;
  margin-top: 5px;
}

form ion-item {
  --background: transparent;
  --border-style: none;
  margin-bottom: 15px;
}

form ion-input {
  color: #333333;
  border-radius: 5px;
  padding: 10px;
}

form ion-label {
  color: #333333;
}

form ion-button {
  margin-top: 15px;
  --border-radius: 20px;
  overflow: hidden;
  background-color: #ffffff;
  color: #333333;
}

form ion-button:hover {
  background-color: #f0f0f0;
}

.file-input-label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  background-color: #ffffff;
  color: #333333;
  border-top: 2px solid #cccccc;
  cursor: pointer;
  margin-top: 15px;
  width: 100%;
  box-sizing: border-box;
}

.file-input-label:hover {
  background-color: #f0f0f0;
  border-radius: 5px;
}

.file-input {
  display: none;
}
