ion-content {
  --background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
}

.register-list {
  background: black;
  padding: 15px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  color: antiquewhite;
  width: 90%;
  max-width: 400px;
  border: 2px solid gray;
  position: relative;
}

.register-title {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 24px;
}

.icon{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-color: #fff;
}

.icon2{
  width: 75%;
  height: auto;
}

span {
  color: red;
  font-size: 12px;
  display: block;
  margin-top: 5px;
}

form ion-item {
  --background: transparent;
  --border-style: none;
  margin-bottom: 15px;
}

form ion-input {
  color: #ffffff;
  border: none;
}

form ion-label {
  color: #ffffff;
}

form ion-button {
  margin-top: 15px;
  --border-radius: 20px;
  overflow: hidden;
}

.submit-button {
  border: 2px solid gray;
}

.file-input-label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  background-color: #000000;
  color: #fff;
  border: 2px solid gray;
  cursor: pointer;
  margin-top: 15px;
  width: 100%;
  box-sizing: border-box;
}

.file-input {
  display: none;
}

.file-input-label:hover {
  background-color: #515152;
}

