<ion-content>
  <div class="floating-form">
    <div class="create-title">Cadastrar</div>

    <form [formGroup]="registerForm" (ngSubmit)="submitForm()">

      <ion-label>E-mail:</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
      <span class="error-text" *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.errors?.['required']">E-mail é obrigatório!</span>
      <span class="error-text" *ngIf="registerForm.get('email')?.dirty && registerForm.get('email')?.errors?.['email']">Formato inválido!</span>
      <br>
      <ion-label>Senha:</ion-label>
      <div class="input-password">
        <ion-input [type]="showPassword ? 'text' : 'password'" formControlName="password"></ion-input>
        <ion-icon [name]="showPassword ? 'eye-outline' : 'eye-off-outline'" (click)="showPassword = !showPassword"></ion-icon>
      </div>
      <span class="error-text" *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.errors?.['required']">Senha obrigatória!</span>
      <span class="error-text" *ngIf="registerForm.get('password')?.dirty && registerForm.get('password')?.errors?.['minlength']">Min. 6 caracteres</span>
      <br>
      <ion-label>Confirmar senha:</ion-label>
      <div class="input-password">
        <ion-input [type]="showConfirmPassword ? 'text' : 'password'" formControlName="confPassword"></ion-input>
        <ion-icon [name]="showConfirmPassword ? 'eye-outline' : 'eye-off-outline'" (click)="showConfirmPassword = !showConfirmPassword"></ion-icon>
      </div>
      <span class="error-text" *ngIf="registerForm.get('confPassword')?.touched && registerForm.get('confPassword')?.errors?.['required']">Campo obrigatório!</span>
      <span class="error-text" *ngIf="registerForm.get('confPassword')?.dirty && registerForm.get('confPassword')?.errors?.['minlength']">Min. 6 caracteres</span>
      <span class="error-text" *ngIf="registerForm.get('confPassword')?.dirty && registerForm.get('password')?.value != registerForm.get('confPassword')?.value">Senhas não conferem!</span>
      <br>
      <ion-label>Nome:</ion-label>
      <ion-input type="text" formControlName="displayName"></ion-input>
      <span class="error-text" *ngIf="registerForm.get('displayName')?.touched && registerForm.get('displayName')?.errors?.['required']">Nome obrigatório!</span>
      <span class="error-text" *ngIf="registerForm.get('displayName')?.dirty && registerForm.get('displayName')?.errors?.['minlength']">Min. 3 caracteres</span>
      <br>
      <ion-label>Telefone:</ion-label>
      <ion-input type="tel" formControlName="phoneNumber"></ion-input>
      <span class="error-text" *ngIf="registerForm.get('phoneNumber')?.touched && registerForm.get('phoneNumber')?.errors?.['required']">Telefone obrigatório!</span>
      <span class="error-text" *ngIf="registerForm.get('phoneNumber')?.dirty && registerForm.get('phoneNumber')?.errors?.['minlength']">Min. 9 dígitos</span>
      <span class="error-text" *ngIf="registerForm.get('phoneNumber')?.dirty && registerForm.get('phoneNumber')?.errors?.['maxlength']">Máximo 13 dígitos</span>
      <br>
      <ion-label>Foto:</ion-label>
      <label class="file-box">
        <span>Selecionar imagem</span>
        <input class="file-input" type="file" (change)="uploadFile($event.target)">
      </label>
      <br>
      <ion-button expand="block" class="createBtn" type="submit" [disabled]="registerForm.invalid">Criar conta</ion-button>
      <ion-button color="danger" expand="block" class="closeBtn" (click)="goToLoginPage()">Voltar</ion-button>
    </form>
  </div>

</ion-content>
